APP_NAME=Total-Recall MCP Agent
APP_VERSION=0.1.0

ENVIRONMENT=development

HOST=0.0.0.0
PORT=4646

# postgresql://root@localhost:26257/defaultdb?sslmode=disable

# postgresql:// – CockroachDB is wire-compatible with PostgreSQL, so you use the Postgres driver prefix.
# root – The default admin user.
# localhost:26257 – The default local host and SQL port.
# defaultdb – The default database CockroachDB creates automatically.
# sslmode=disable – Tells the driver not to look for SSL certificates.
# DATABASE_URL=postgresql+asyncpg://username:password@localhost:26257/mcpdb
# Your local CockroachDB is running with:
# --insecure
# so no SSL parameters are needed.
# DATABASE_URL=postgresql+asyncpg://root@localhost:26257/total_recall_mcp_db?sslmode=disable
DATABASE_URL=cockroachdb+asyncpg://root@localhost:26257/total_recall_mcp_db
DATABASE_NAME="total_recall_mcp_db"
DATABASE_ECHO=false

AWS_REGION=us-east-1

JWT_SECRET=my-secret-key
JWT_ALGORITHM=HS256

LOG_LEVEL=INFO
