APP_NAME=Total-Recall MCP Agent
APP_VERSION=0.1.0

ENVIRONMENT=development

HOST=0.0.0.0
PORT=4646

DATABASE_URL=postgresql+asyncpg://username:password@localhost:26257/mcpdb

AWS_REGION=us-east-1

JWT_SECRET=my-secret-key
JWT_ALGORITHM=HS256

LOG_LEVEL=INFO
